* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#landing_page {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	background-color: #C52F2C;
}
.content {
	z-index: -1;
	position: relative;
}
.aboutContent {
	z-index: 1;
	position: absolute;
	left: 50px;
	top: 1050px;
	width: 500px;
}
.profilesContent {
	z-index: 2;
	position: absolute;
	top: 1900px;
	font-family: 'Source Sans Pro', sans-serif;
}
/*NAV BAR*/
#topNav {
	float: right;
	display: inline;
	text-align: center;
	font-size: 20px;
	color: red;
	margin-right: 20px;
	margin-top: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}
.top-nav a {
	text-decoration: none;
	color: white;
}
#contact-btn{
	background-color: #3B4043;
	border-radius: 15px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	margin-top: -20px;
}
/*END OF NAV BAR*/

/*HEADER*/
#Header {
	background-color: black;
	margin-top: 110px;
	margin-left: 20px;
	margin-right: 20px;
	height: 2800px;
	overflow: visible;
}
#welcome-alco {
	color: white;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 300px;
	font-family: 'Source Sans Pro', sans-serif;
}
#welcome-text {
	left: 90px;
	top: 550px;
	position: absolute;
	overflow: visible;
	padding-right: 250px;
	padding-left: 250px;
	line-height: 30px;
	width: 1150px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
}
/*END OF HEADER*/
#aboutus-button {
	left: 550px;
	top: 850px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3.5px;
}
.btn {
	border:none;
	background-color: #C42F2B;
	font-size: 24px;
	cursor: pointer;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}
.about-us {
	border-radius: 12px;
}
.about-us a {
	text-decoration: none;
	color: white;
}
#alcofil-logo {
	position: absolute;
	width: 220px;
}
#aboutUs{
	left: 0px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 631px;
	height: 91px;
	line-height: 34px;
	margin-top: 1100px;
	margin-left: 575px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: white;
}
#alcofilsampleimg {
	width: 1000px;
}
#title-what {
	left: 124px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 379px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: 1099px;
	margin-left: 575px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	color: white;
}
#alco-details {
	left: 0px;
	top: 273px;
	position: absolute;
	overflow: visible;
	width: 631px;
	height: 347px;
	line-height: 30px;
	margin-top: 1140px;
	margin-left: 575px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
}
#alcofil_logo {
	position: absolute;
	width: 620px;
	height: 200px;
	left: 370px;
	top: 200px;
	overflow: visible;
}

/*USER PROFILES*/
#textPerson1 {
	color: white;
	float: center;
	top: 2200px;
	left:100px;
	font-size: 30px;
}
#textPerson2 {
	color: white;
	float: center;
	top: 2200px;
	left: 540px;
	font-size: 30px;
}
#textPerson3 {
	color: white;
	float: center;
	top: 2200px;
	left: 992px;
	font-size: 30px;
}
#profilesInfo {
	color: white;
	text-align: center;
	left: 50px;
}
#profilesInfo2 {
	color: white;
	text-align: center;
	left: 530px;
}
#profilesInfo3 {
	color: white;
	text-align: center;
	left: 987px;
}
#firstPerson {
		left: 50px;
}
.profileText {
	z-index: 1;
	position: absolute;
	top: 2250px; 
	width: 300px;
	font-family: 'Source Sans Pro', sans-serif;
}
#secondPerson {
	left: 530px;
}
#thirdPerson{
	left: 990px;
}
.contactBelow {
	z-index: 1;
	color: white;
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
}
.favicon {
	z-index: 1;
	position: absolute;
	left: 1055px;
}
#facebook-icon {
	top: 2650px;
	width: 40px;
}
#twitter-icon {
	top: 2690px;
	width: 40px;
}
#ig-icon {
	top: 2730px;
	width: 40px;
}
#alcotext {
	top: 2600px;
	left: 1060px;
	font-weight: bold;
	font-size: 25px;
}
#alcotextsmall {
	top:2625px;
	left: 1060px;
	font-weight: bold;
	font-size: 20px;
}
#fb-page {
	top: 2665px;
	left: 1100px;
	text-decoration: none;
}
#twitter-page {
	top: 2702px;
	left: 1100px;
	text-decoration: none;
}
#ig-page {
	top: 2740px;
	left: 1100px;
	text-decoration: none;
}
.footer {
	z-index: 2;
	position: absolute;
	color: white;
	float: center;
	top: 2900px;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #3B4043;
	font-family: 'Source Sans Pro', sans-serif;
}
#meet {
	z-index: 1;
	position: absolute;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	top: 1810px;
	left: 50px;
}
